body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.loginp{
  padding-top: .5%;
  padding-bottom: 1%;
  margin-top: 5%;
  /*margin-bottom: 10%;*/
  margin-left: 35%;
  margin-right: 35%;
  opacity: .9;
  background-color: #EDEFF7;
  /*background-image: url("D:/miniProject/outreachFunds/frontend/src/student1.jpg");*/
  /*text-shadow: 4px 4px 8px #000000;*/

  /*border-radius: 50%;*/
}
.outerlog{
  background-image: url("./images/school.png");
  background-color: darkgrey;
  padding-bottom: 5%;
  padding-top: 3%;

}
.lbtn{
  width: 100px;
}
.rolebtn {
width: 100%;
  height: 100%;
}
.role-class{
  margin-top: 15%;
  /*margin-bottom: 10%;*/
  margin-left: 38%;
  margin-right: 38%;
  opacity: .9;
  background-color: #EDEFF7;
  /*background-image: url("D:/miniProject/outreachFunds/frontend/src/student1.jpg");*/
  /*text-shadow: 4px 4px 8px #000000;*/

}
.home-class {
  padding-bottom: 35%;
  background-image: url("./images/school.png");
  caption-side: top;
}
.gallary-class{
  margin-left: 5%;
  margin-right: 4%;
 }
.gallary-class-row{
  margin-bottom: 3%;
  margin-top: 1%;
}
.outer-gallary-class{
  background-color: #F8F7F8;
}
.header-class{
position: fixed;
  }
.navbar-class{
  background-color: white;
}
.navbar-class-main{
  background-color: #6B6B6B;

}
.navclassa{
  padding-top: 8%;
}
.navclassb{
  padding-top: 5%;
}
.navclass-item{
  padding-top: 1%;
}
.nav-btn {
height: 43%;
}
.glyphi-icon{
  padding-left: 5%;
}
.navclass-main{
  padding-top: 5%;
}
.navclass-dropmenu {
  padding-top: 0.5%;
  padding-right: 3%;
}
.navclass-bs{
  background-color: #FBFBF9;
  height: 70px;
}
.carosel-class{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 10%;
 }
.error-message{
  color: red;
}
.imgnav{
  padding-left: 5%;
  padding-right: 5%;
}
.font-p{
  font-style: italic;
  text-shadow: 4px 4px 12px #000000;
}
.schedulemodal{
  margin-top: 5%;
  /*margin-bottom: 10%;*/
  margin-left: 35%;
  margin-right: 35%;
  padding-left: 1.5%;
  opacity: .9;
  background-color: #EDEFF7;
  overflow-y: scroll;
}
.schedule-class{
  padding-bottom: 50%;
}
.tbt{
  margin: .5%;
  width:3%;
  height: 5%;
}
.approve-class{
  color:green;
}
.pending-class{
  color: red;
}

.blocks{
  display: inline-block;
  border:3px solid black;
  padding:5px 5px;
  height:200px;
  width:450px;
}
.dv{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin: 10% auto;
  width: 35%;
}
.inputtext {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
}