.tablecss {
    opacity: 0.9;
    width: 100%;
    padding-left: 30%;
    padding-top: 5%;
    padding-right: 30%;
    font-family: Cambria;
}

.field {
    font-family: Cambria;
    font-size: large;
    color: darkgreen;
}
.fieldtd{
    font-family: Cambria;
    font-size: large;
    padding-left: 10%;
    color: black;
    padding-bottom: 3%;
}
.fieldsecond{
    font-family: Cambria;
    font-size: large;
    margin-left: 5%;
    color: darkgreen;
    padding-bottom: 3%;
}
.fieldseconds{
    font-family: Cambria;
    font-size: large;
    margin-left: 5%;
    color: black;
    padding-bottom: 2%;
}
.heading {
    margin-top: 10%;
    font-family: Cambria
}
.edittd{
    width:50%;
}

/*image css*/
.container {
    position: relative;

}
.image{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.containers:hover .image {
    opacity: 0.3;
}
.containers:hover .middle {
    opacity: 0.8;
}
.text {
    background-color: grey;
    padding: 16px 32px;
}

#fileLoader
{
    display:none;
}
/*Icon*/
.iconcss{
    position: relative;
    font-size: 40px;
}
.closecss{
    position: relative;
    font-size: 20px;
}